body{
    background: #F9F0F0; 
}

.my-name { color: #A67A76; }

hr { background-color: #C5A7A5; height: 1px; border: 0; }

.our-first-class { color: #C5A7A5; }

h1 {font-family: questa-grande, serif; 
    font-style: normal;
    font-weight: 300;
    text-align: left;}

h4
    {font-family: brandon-grotesque, sans-serif; 
     font-style: normal;
     font-weight: 300;
     font-size:25px; 
     text-align: left;
     color:#A67A76;
     }

.profile-pic {
              padding:17px 17px 17px 17px;
              border:2px solid #A67A76;}



.container {margin: 0 20px 0 0;
            height:600px; 
            width:600px;  
            display:inline-block;
            padding:0px 20px 105px 20px;}

.container-two {margin: 0 0px 0 0;
            height:600px; 
            width:600px;  
            display:inline-block;
            padding:0px 20px 105px 20px;}



p 
    {text-align:justify;left;
    font-size: 16px;
    break-inside: avoid;
    margin: 0 0 25px 0;}




.paragraph:hover { 
        opacity: 0.5;
        cursor: pointer; 
}






   



